<div class="container-fluid">
    <div id="home" class="row align-items-center hero">
        <div id="novedades" class="col-md-4 offset-md-1 py-3">
            <div>
                <h1>Novedades</h1>
                <p>En esta sección podrás encontrar la historia de algunas de las recetas presentes en este recetario, así como también novedades respecto al mundo de la gastronomía</p>
            </div>
        </div>
        {{!-- inicio novedades --}}
        <div class="col-md-4 offset-md-1 py-3">
            <ul class="lista-novedades" style="margin-left: 50px;">
                {{#each novedades}}
                <li><a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#modal{{id}}"><img
                            src="{{imagen}}">{{titulo}}</a></li>
                {{/each}}
            </ul>
        </div>
        {{!-- inicio modal --}}
        {{#each novedades}}
        <div class="modal fade" id="modal{{id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title" id="exampleModalLabel">{{titulo}}</h2>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <h5>{{subtitulo}}</h5>
                        <p>{{cuerpo}}</p>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
        {{!-- fin modal --}}
        {{!-- fin novedades --}}
    </div>
</div>